# Copy this file to secrets.toml and fill in your keys
# Do NOT commit secrets.toml to Git

OPENAI_API_KEY = "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"
TOMORROW_API_KEY = "GAjatJfIVS1xzrrsiCHNxwNIcgh8jjXl"
